html, body {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  padding: 5%;
}

h1 {
  text-align: center;
  font-size: 1.2em;
}

ul {
  padding-left: 35px;
  padding-bottom: 35px;
}


img {
  display: inline-block;
  display: none;
}

a:hover {
  border-bottom: 2px solid blue;
}
a:visited {
  border-bottom: 2px solid rgba(85, 26, 139, 1);
}

button {
  cursor: pointer;
}

#CommunityInviter button:hover {
  padding: 4px 10px !important;
  border: 2px solid black !important;
}



@media only screen and (min-width: 630px) {
  body {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 830px) {
  body {
    font-size: 2em;
  }
}
